# -----------------------------------
# Build System
# -----------------------------------
.gradle/
build/
out/

# 빌드 캐시 및 임시 파일
**/build/
**/.gradle/
*.log
*.lock
*.bin

# -----------------------------------
# IDE settings
# -----------------------------------

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# -----------------------------------
# OS files
# -----------------------------------
.DS_Store
Thumbs.db

# -----------------------------------
# Java
# -----------------------------------
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.classpath
*.project

# -----------------------------------
# Spring Boot
# -----------------------------------
# 자동 생성되는 로그/실행 파일
logs/
BOOT-INF/
META-INF/

# -----------------------------------
# H2 / DB
# -----------------------------------
*.mv.db
*.h2.db
*.trace.db

# -----------------------------------
# Misc
# -----------------------------------
*.tmp
*.swp
*.swo
