spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/library
    username: sa
    password: 1234
  h2:
    console:
      enabled: false
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

jwt:
  secret: your-256-bit-secret-key-change-this-in-production-min-32-characters
  expiration: 7200000